In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")

vacation_df.head()

   City_ID     City Country  Max Temp      Lat       Lng  Hotel Name
0        0   Bethel      US     69.89  41.3712  -73.4140         NaN
1        1    Arlit      NE     88.41  18.7369    7.3853         NaN
2        4   Avarua      CK     78.85 -21.2078 -159.7750         NaN
3        5  Rikitea      PF     74.84 -23.1203 -134.9692         NaN
4        8   Noumea      NC     82.38 -22.2763  166.4572         NaN

In [20]:

vacation_start = vacation_df.loc[vacation_df["City"]=="Bethel"] 
vacation_start

   City_ID    City Country  Max Temp      Lat     Lng  Hotel Name
0        0  Bethel      US     69.89  41.3712 -73.414         NaN

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Herat"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Herat"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Phan Thiet"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Hambantota"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Meulaboh"]

In [34]:
vacation_end

     City_ID   City Country  Max Temp   Lat   Lng  Hotel Name
430      622  Herat      AF     66.79  34.5  62.0         NaN

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_route = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(trip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

   City_ID        City Country  Max Temp      Lat       Lng  Hotel Name
0      622       Herat      AF     66.79  34.5000   62.0000         NaN
1       77  Phan Thiet      VN     87.40  10.9333  108.1000         NaN
2      232  Hambantota      LK     79.14   6.1241   81.1185         NaN
3      593    Meulaboh      ID     81.55   4.1363   96.1285         NaN

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))